body {
    background-color: rgb(0, 0, 40);
    display: flex;
    flex-wrap: wrap;
}

button {
    background-color: rgba(207, 206, 255, .4);;
    color: rgb(207, 206, 255);
    border: 3px solid rgb(207, 206, 255);
    border-radius: 3px;
}

button:hover {
    color: rgb(0, 0, 40);
    border: 3px solid rgb(207, 206, 255);
}

button:disabled {
    color: rgb(82, 82, 82);
    border: 3px solid rgb(91, 90, 126);
}

div#dataView {
    display: flex;
    flex-flow: column;
    flex: 1;
}

div#app {
    flex: 3;
}

div#spaceTime {
    display: flex;
}

div#buttonBar {
    display: flex;
}

div.grid>div>div {
    outline: 1px dotted grey;
}

#buttonBar>button {
    width: 240px;
    height: 60px;
}

#storageView>div>button {
    display: flex;
    background-color: rgb(0, 0, 40);
    font-size: 14pt;
    font-weight: bold;
    height: 36px;
    width: 200px;
    border: 3px solid rgba(0, 0, 0, 0);
}

#storageView>div>button:hover {
    background-color: rgba(207, 206, 255, .4);
    color: white;
    border: 3px solid rgb(207, 206, 255);
    border-radius: 3px;
}
