div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

div>div>div {
    border: 1px dotted grey;
}

#buttonBox {
    justify-content: center;
}

#timeButton {
    width: 240px;
    height: 60px;
}