body {
    background-color: var(--bg-0-color);
    display: flex;
    flex-wrap: wrap;
  }
  
  button {
    background-color: var(--bg-1-color);
    color: var(--text-0-fg-color);
    border: 3px solid var(--bg-2-color);
    border-radius: 3px;
  }
  
  button:hover {
    color: var(--text-0-inverted-fg-color);
    border: 3px solid var(--bg-2-color);
  }
  
  button:disabled {
    color: var(--text-1-inverted-fg-color);
    border: 3px solid var(--bg-2-color);
  }
  
  div#dataView {
    display: flex;
    flex-flow: column;
    flex: 1;
  }
  
  div#app {
    flex: 3;
  }
  
  div#spaceTime {
    display: flex;
  }
  
  div#buttonBar {
    display: flex;
  }
  
  div.grid>div>div {
    outline: 1px dotted grey;
  }
  
  #buttonBar>button {
    width: 240px;
    height: 60px;
  }
  
  #storageView>div {
    display: flex;
  }
  
  div#dataButtonBar>button {
    width: 200px;
    height: 36px;
  }
  
  input[type='file'] {
    opacity: 0;
    height: 36px;
    width: 200px;
    display: block;
    overflow: hidden;
    position: relative;
    top: -20px;
    left: -9px;
  }
  
  .inputStylishButton {
    padding: 7px 0 0 0;
  }
  
  #storageView>div>button {
    display: flex;
    background-color: var(--bg-1-color);
    font-size: 14pt;
    font-weight: bold;
    height: 36px;
    border: 3px solid var(--bg-2-color);
  }
  
  #storageView>div:hover>button {
    background-color: var(--bg-0-inverted-color);
    border: 3px solid var(--bg-2-color);
    border-radius: 3px;
  }
  
  #storageView>div>button.load {
    width: 200px;
  }
  
  #storageView>div>.additionalButtons {
    display: flex;
    position: relative;
    z-index: -1;
    left: -90px;
  }
  
  #storageView>div:hover>.additionalButtons {
    left: 0px;
    z-index: 0;
    transition: left .2s;
  }
  
  #storageView>div:hover>.additionalButtons>button {
    width: 64px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  #storageView>div>.additionalButtons>.download {
    background-image: url('./download.png');
  }
  
  #storageView>div>.additionalButtons>.download:hover {
    background-image: url('./download-hover.png');
  }
  
  #storageView>div>.additionalButtons>.delete {
    background-image: url('./delete.png');
  }
  
  #storageView>div>.additionalButtons>.delete:hover {
    background-image: url('./delete-hover.png');
  }
  
  :root {
    --bg-0-color: rgb(255, 255, 255);
    --bg-0-inverted-color: rgb(103, 65, 32);
    --bg-1-color: rgb(103, 65, 32);
    --bg-2-color: rgba(204, 141, 5, 0.55);
    --bg-3-color: rgba(204, 141, 5, 0.55);
    --text-0-fg-color: rgb(243, 236, 218);
    --text-1-fg-color: rgb(7, 7, 52);
    --text-0-inverted-fg-color: rgb(169, 123, 7);
    --text-1-inverted-fg-color: rgb(255, 219, 157);
    --text-2-fg-color: rgb(71, 133, 49);
    --font-0-family: normal helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
    --copy-column-width: 520px;
  }