div.navigation>button.navigationButton,
div.navigation>button.controlButton {
  width: 8em;
  margin: 2em;
  border-width: 0;
}

div.navigation>button.navigationButton>img,
div.navigation>button.controlButton>img {
  width: 4em;
}

div#dataView {
  display: flex;
  flex-flow: column;
  flex: 1;
}

div#app {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#footer>a {
  color: var(--text-0-inverted-fg-color);
  text-decoration: none;
  font-family: var(--font-0-family);
}

div#spaceTime {
  display: flex;
  background-color: var(--bg-0-color);
}

div#buttonBar.visible {
  display: flex;
}

div#buttonBar {
  display: none;
}

div#spaceTime>div>div {
  width: 1.1vw;
  height: 1.1vw;
  border-radius: 30%;
  border-color: aliceblue;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
}

div#spaceTime>div>div.m0 {
  background-color: var(--bg-0-color);
}

div#spaceTime>div>div.m0_1 {
  background-color: var(--mass-spaceship-color);
}

div#spaceTime>div>div.m1 {
  background-color: var(--mass-m1-color);
}

div#spaceTime>div>div.m2 {
  background-color: var(--mass-m2-color);
}

div#spaceTime>div>div.m3 {
  background-color: var(--mass-m3-color);
}

div#spaceTime>div>div.m4 {
  background-color: var(--mass-m4-color);
}

div#spaceTime>div>div.m5 {
  background-color: var(--mass-m5-color);
}

div#spaceTime>div>div.m6 {
  background-color: var(--mass-m6-color);
}

div#spaceTime>div>div.m7 {
  background-color: var(--mass-m7-color);
}

div#spaceTime>div>div.m8 {
  background-color: var(--mass-m8-color);
}

div#spaceTime>div>div.m9 {
  background-color: var(--mass-m9-color);
}

div#spaceTime>div>div.m10 {
  background-color: var(--mass-m10-color);
}

div#spaceTime>div>div.m11 {
  background-color: var(--mass-m11-color);
}

div#spaceTime>div>div.m12 {
  background-color: var(--mass-m12-color);
}

div#spaceTime>div>div.m13 {
  background-color: var(--mass-m13-color);
}

div#spaceTime>div>div.m14 {
  background-color: var(--mass-m14-color);
}

div#spaceTime>div>div.m15 {
  background-color: var(--mass-m15-color);
}

div#spaceTime>div>div.neighborBox {
  border: 1px solid black;
  box-sizing: border-box;
}

div#spaceTime>div>div.trailBox {
  background-color: var(--bg-1-color);
}

div#spaceTime>div>div.thrustBox {
  background-color: var(--spaceship-thrust-color);
}

div#spaceTime>div>div:hover {
  border: 1px dotted var(--bg-0-inverted-color);
  box-sizing: border-box;
}

div.navigation>button.controlButton#volumeControlButton,
div.navigation>button.controlButton#settingsControlButton {
  display: none;
}

div#buttonBar>button {
  width: 12em;
  margin: 1em;
  border-width: 2em;
  border-radius: 6em;
  padding: 3em;
}

#buttonBar>button#spaceshipTurnLeftButton,
#buttonBar>button#spaceshipTurnRightButton,
#buttonBar>button#spaceshipThrustButton,
#buttonBar>button#timeFwdButton,
#buttonBar>button#timeBackButton {
  display: none;
}

div#buttonBar>button>img {
  width: 90%;
  cursor: pointer;
}

#storageView>div {
  display: flex;
  margin: -1px 0 0 0;
}

div#dataButtonBar>button {
  width: 200px;
  height: 36px;
  margin: 0 0 -1px 0;
}

input[type='file'] {
  opacity: 0;
  height: 36px;
  width: 200px;
  display: block;
  overflow: hidden;
  position: relative;
  top: -20px;
  left: -9px;
}

.inputStylishButton {
  padding: 7px 0 0 0;
}

#storageView>div>button {
  background-color: var(--bg-1-color);
  height: 36px;
  border: 1px solid var(--bg-2-color);
}

#storageView>div>button.load {
  width: 200px;
}

#storageView>div>.additionalButtons {
  display: flex;
  position: relative;
  z-index: -1;
  left: -90px;
}

#storageView>div:hover>.additionalButtons {
  left: 0px;
  z-index: 0;
  transition: left .2s;
}

#storageView>div:hover>.additionalButtons>button {
  width: 64px;
  height: 36px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 0 0 -1px;
}

#storageView>div>.additionalButtons>.download {
  background-image: url('./download.png');
}

#storageView>div>.additionalButtons>.download:hover {
  background-image: url('./download-hover.png');
  background-color: var(--bg-0-inverted-color);
}

#storageView>div>.additionalButtons>.delete {
  background-image: url('./delete.png');
}

#storageView>div>.additionalButtons>.delete:hover {
  background-image: url('./delete-hover.png');
  background-color: var(--bg-0-inverted-color);
}

@media (width <= 480px), screen and (orientation: portrait) {
  #buttonBar>button#spaceshipTurnLeftButton,
  #buttonBar>button#spaceshipTurnRightButton,
  #buttonBar>button#spaceshipThrustButton {
    display: flex;
  }


}

:root {
  --bg-0-color: rgb(255, 255, 255);
  --bg-0-inverted-color: rgba(209, 209, 209);
  --bg-1-color: rgb(237, 237, 237);
  --bg-2-color: rgba(0, 0, 0);
  --bg-3-color: rgba(204, 141, 5, 0.55);
  --text-0-fg-color: rgb(57, 66, 237);
  --text-1-fg-color: rgb(7, 7, 52);
  --text-0-inverted-fg-color: rgb(169, 123, 7);
  --text-1-inverted-fg-color: rgb(255, 219, 157);
  --text-2-fg-color: rgb(71, 133, 49);
  --font-0-family: normal helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
  --copy-column-width: 520px;
  --mass-spaceship-color: rgb(35, 147, 216);
  --spaceship-thrust-color: rgb(218, 137, 14);
  --mass-m0-color: rgb(237, 237, 237);
  --mass-m1-color: rgb(222, 222, 222);
  --mass-m2-color: rgb(201, 201, 201);
  --mass-m3-color: rgb(195, 195, 195);
  --mass-m4-color: rgb(177, 177, 177);
  --mass-m5-color: rgb(140, 140, 140);
  --mass-m6-color: rgb(122, 122, 122);
  --mass-m7-color: rgb(113, 113, 113);
  --mass-m8-color: rgb(102, 102, 102);
  --mass-m9-color: rgb(91, 91, 91);
  --mass-m10-color: rgb(83, 83, 83);
  --mass-m11-color: rgb(68, 68, 68);
  --mass-m12-color: rgb(55, 55, 55);
  --mass-m13-color: rgb(41, 41, 41);
  --mass-m14-color: rgb(22, 22, 22);
  --mass-m15-color: rgb(9, 9, 9);
}